#video-player {
  text-align: center;
padding:1em 1em .5em;
}

video {
border:1px solid #2e52a4;
width:600px;
height:400px;
background:#000;
}
.progress {
  margin: auto;
width:600px;
height:16px;
margin-bottom: 5px;
background-color: white;
}
progress::-moz-progress-bar { background:#2e52a4; }
